body {
  margin: 0;
  min-height: 100%;
  background-color: #eeeff1;
  font-family: Poppins, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.nav-bar {
  display: flex;
  position: sticky;
  height: 100%;
  padding: 20px 50px;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  top: 0px;
}
header {
  background: #ddd;
  z-index: 1000;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex: 1;
}
.logo-web {
  z-index: 1;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
}
a {
  background-color: transparent;
  display: block;
  transition: opacity 0.2s;
}
.logo-image {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 0;
  cursor: auto;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  overflow: clip;
}
.text-logo {
  position: relative;
  top: 2px;
  display: inline-block;
  padding-left: 15px;
  color: #000;
  font-weight: 500;
}
/* .logo-block {
  position: absolute;
  z-index: 1000;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 0;
  padding-top: 0;
  background-image: url(https://uploads-ssl.webflow.com/5fa25266badbdb239c79ef86/60baff5fcc93ec0fda8a19ba_s%20logo%20copy%203.png);
  background-position: 0 0;
  background-size: contain;
  transition: 175ms;
} */
.nav-wrap {
  display: flex;
  margin-right: -20px;
  align-items: center;
  cursor: pointer;
}
.nav-menu {
  position: relative;
  float: right;
}
.nav-item {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 500;
  margin-right: 30px;
  padding: 9px 0;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
}
.nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
}
.nav-block {
  cursor: pointer;
}
.button {
  display: flex;
  width: auto;
  max-width: 200px;
  margin-bottom: 0;
  padding: 16px 25px 12px;
  justify-content: center;
  border-radius: 8px;
  background-color: #1a1b1f;
  background-size: auto;
  transition: background-color 775ms, opacity 0.4s, color 0.4s;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  object-fit: fill;
}
.web-item {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}
.inline-block {
  max-width: 100%;
  display: inline-block;
}
.linkedin-link {
  position: relative;
}
.social-icon {
  position: sticky;
  padding-top: 17px;
  width: 24px;
}
section {
  position: static;
  overflow: visible;
  max-width: 100%;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  transition: opacity 0.2s;
}
.layout {
  display: flex;
  grid-auto-columns: 1fr;
}
.hi-there {
  margin-top: 100px;
  margin-bottom: 140px;
  align-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  grid-template-columns: 1.25fr 2fr;
}
.hi-there-header {
  display: flex;
}
.hi-there-header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #1a1c20;
  font-size: 80px;
  line-height: 90px;
  font-weight: 500;
}
h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin: 20px 0 15px;
}
.hi-there-pic {
  width: 420px;
  height: 438px;
  margin-bottom: 50px;
  border-radius: 15px;
}
.hi-there-text {
  font-size: 25px;
  font-weight: 300;
  line-height: 39px;
  position: relative;
  margin-block-end: 50px;
  margin-bottom: 50px;
}
.my-career {
  margin-bottom: 120px;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-columns: 1.5fr 1fr;
  display: grid;
}
.my-career-description {
  padding-right: 60px;
}
.my-career-description h1 {
  margin: 20px 0 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 500;
}
.my-career-description p {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 0;
  opacity: 1;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}
.my-career-skill {
  display: flex;
  padding-top: 64px;
}
.skill-name-text {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #ced1df;
  border-radius: 8px;
  background-color: #eeeff1;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #000;
  font-size: 16px;
  line-height: 39px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.on-working {
  margin-bottom: 120px;
}
.on-working h1 {
  padding-top: 30px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 500;
}
.reference-person {
  padding-top: 20px;
  height: 304px;
  width: 255px;
}
.reference-person img {
  max-width: 150px;
  border-radius: 200px;
}
h5 {
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}
.from-reference-person {
  padding-top: 30px;
  position: relative;
  margin-bottom: 50px;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}
.reference-person-position {
  height: 28px;
  width: 255px;
}
.contact {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 120px;
  margin-left: 0;
  padding: 80px 60px 60px;
  border: 0 solid #d6d9e7;
  border-radius: 14px;
  background-image: none;
  background-size: auto;
  background-attachment: scroll;
  box-shadow: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.get-in-touch h3 {
  margin-bottom: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 15px;
  font-size: 64px;
  line-height: 88px;
}
.contact-form-block {
  margin: 0 0 15px;
}
.mail-form {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
}
.field-label {
  margin-bottom: 5px;
  color: #8f929e;
}
label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.name {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.text-field {
  margin-bottom: 18px;
  padding: 30px 20px 30px 15px;
  border: 1px #e4e4e4;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.5);
  transition: border-color 0.4s;
  font-size: 15px;
  line-height: 26px;
}
.w-input {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
}
.w-textarea .text-field {
  height: 150px;
  padding-top: 12px;
}
button {
  width: auto;
  max-width: 200px;
  padding: 16px 25px 12px;
  justify-content: center;
  border-radius: 8px;
  background-color: #1a1b1f;
  transition: background-color 775ms, opacity 0.4s, color 0.4s;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  object-fit: fill;
}
.status-message {
  padding: 9px 30px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.status-message-success .status-message {
  background-color: #12b878;
}
.status-message-fail .status-message {
  background-color: #db4b68;
}
.status-message-fail {
  display: none;
  margin-top: 10px;
}
.status-message-success {
  display: none;
}

footer {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-container {
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  text-align: left;
}
.footer-logo {
  max-height: 40px;
  min-width: 40px;
  max-width: 100%;
  display: inline-block;
}
.footer-image {
  height: 40px;
  width: 100%;
}
.footer-link {
  display: block;
  padding-left: 30px;
  align-self: center;
  color: #8f929e;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.p-small {
  color: #8f929e;
  font-size: 14px;
  line-height: 26px;
}
